<?php exit; ?>

[steem]
blockchainurl='https://api.steemit.com/'
rpcurls[]='https://api.steemit.com/'
;rpcurls[]='https://api.steem.house/'

[block]
start=0
saverawblock=0

[requests]
concurrent_requests=10

[messages]
log_level=
message_level=debug
message_timestamp_format='H:i:s'

[database]
host='localhost'
port='3306'
user=''
password=''
dbname='steem'

[observe]
vote=1
comment=1
claim_reward_balance=1
transfer=1
custom_json=1
comment_options=1
account_update=1
delete_comment=1
transfer_to_vesting=1
limit_order_create=1
delegate_vesting_shares=1
limit_order_cancel=1
feed_publish=1
account_create_with_delegation=1
account_witness_vote=1
convert=1
pow=1
pow2=1
account_create=1
witness_update=1
set_withdraw_vesting_route=1
transfer_to_savings=1
cancel_transfer_from_savings=1
withdraw_vesting=1
transfer_from_savings=1
account_witness_proxy=1
